<ion-modal-view class="modalview">
    <ion-header-bar class="bar-assertive pndred">
        <h1 class="title">Buy Now</h1>
        <div class="button button-clear" ng-click="closebuymodal()"><span class="icon ion-close"></span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="modalinner">
            <div class="textcenter" style="border-bottom: thin solid rgba(201, 45, 40, 1);">
                <h3 class="alcoholproductname tcenter1">Premium Lager Beer</h3>
            </div>
            <div class="row">
                <div class="col">
                    <label class="item-input textcenter">
                        <span class="input-label">Quantity</span>
                    </label>
                </div>
                <div class="col">
                    <input class="qinput" type="number" value="3">
                </div>
            </div>
            <textarea class="qinput" placeholder="Write your comment here if any"></textarea>
            <button class="button button-block button-assertive pndred icon-right ion-arrow-right-a">
                Checkout
            </button>
        </div>

    </ion-content>
</ion-modal-view>