<ion-view view-title="Product" align-title="center">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
    <ion-content class="backgrey">
        <div class="list">

            <a class="item item-thumbnail-left">
                <img src="img/ordersthumbnail.jpg">
                <p class="givefont">Order ID : 000DP4465</p>
                <p class="givefont">Sat, May 31, 2015 </p>
                <p class="givefont">$54 </p>
            </a>
        </div>
        <div class="list">

            <a class="item item-avatar" style="line-height:88%;">
                <img src="img/beerproduct.jpg">
                <div class="row">
                    <div class="col col-75" style="margin-top: -5%;">
                        <h4>Kingfisher Beer</h4>
                        <p style="font-size: small;">750 ml / Can</p>
                        <p style="font-size: small;">$7</p>
                    </div>
                    <div class="col col-25 pndgreencolor">
                        $21
                    </div>
                </div>
            </a>

            <a class="item item-avatar" style="line-height:88%;">
                <img src="img/beerproduct.jpg">
                <div class="row">
                    <div class="col col-75" style="margin-top: -5%;">
                        <h4>Kingfisher Beer</h4>
                        <p style="font-size: small;">750 ml / Can</p>
                        <p style="font-size: small;">$7</p>
                    </div>
                    <div class="col col-25 pndgreencolor">
                        $21
                    </div>
                </div>
            </a>

            <a class="item item-avatar" style="line-height:88%;">
                <img src="img/beerproduct.jpg">
                <div class="row">
                    <div class="col col-75" style="margin-top: -5%;">
                        <h4>Kingfisher Beer</h4>
                        <p style="font-size: small;">750 ml / Can</p>
                        <p style="font-size: small;">$7</p>
                    </div>
                    <div class="col col-25 pndgreencolor">
                        $21
                    </div>
                </div>
            </a>

            <a class="item item-avatar" style="line-height:88%;">
                <img src="img/beerproduct.jpg">
                <div class="row">
                    <div class="col col-75" style="margin-top: -5%;">
                        <h4>Kingfisher Beer</h4>
                        <p style="font-size: small;">750 ml / Can</p>
                        <p style="font-size: small;">$7</p>
                    </div>
                    <div class="col col-25 pndgreencolor">
                        $21
                    </div>
                </div>
            </a>

        </div>
        <button class="button button-full button-positive pndred">
            Track Your Order
        </button>
        <button class="button button-full button-positive pndred">
            Resend This Order
        </button>

    </ion-content>

</ion-view>