<ion-view view-title="Help & Feedback">
    <ion-nav-buttons side="left" ng-controller="menuCtrl">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <a href="#/app/playlists">
            <button menu-toggle="left" class="button button-icon icon ion-home"></button>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-controller="menuCtrl">
        <button class="button button-icon icon ion-android-cart "></button>
    </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item" ng-class="{active: !tabselect}" ng-click="tabselect = !tabselect;">
                <i class=""></i> Help
            </a>
            <a class="tab-item" ng-class="{active: tabselect}" ng-click="tabselect = !tabselect;">
                <i class=""></i> Feedback
            </a>
        </div>
    </div>
    <div style="margin-top: 30%; padding:8%;">
        <div ng-hide="tabselect">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div ng-show="tabselect">
            <input type="text" placeholder="name">
            <input type="text" placeholder="email">
            <textarea type="text" placeholder="feedback"></textarea>
            <button class="button button-full button-positive">
                Submit Feedback
            </button>
        </div>
    </div>
    </ion-content>
</ion-view>