<ion-view view-title="Login"  > <span class="title"></span>
  <ion-nav-buttons side="left" ng-controller="menuCtrl">
        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <a href="#/app/playlists"><button menu-toggle="left" class="button button-icon icon ion-home"></button></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
 <ion-content>

   <button class="button fbbutton givefont"> <div><span class=" customicon ion-social-facebook"></span>Login with Facebook</div></button>
    <button class="button fbbutton1 givefont">
       <div><span class=" customicon ion-social-googleplus"></span>Login with Google</div>
    </button>
    <button class="button fbbutton2 givefont">
        Login
    </button>
   <a href="#/app/signup"> <button class="button fbbutton3 givefont">
        Sign up
    </button></a>
    <div class="footer givefont">By joining you agree to our <u>Terms and Conditions</u>
    </div>
    <!--<div class=" loginimage">
        <img src="img/Login.png">

    </div>-->


</ion-content>
</ion-view>
