<ion-view view-title="Your Orders">
    <ion-nav-buttons side="left" ng-controller="menuCtrl">

        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button menu-toggle="left" class="button button-icon icon ion-home"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">

            <a class="noborder item item-thumbnail-left" href="#/app/detail">
                <img src="img/ordersthumbnail.jpg">
                <div class="row">
                    <div class="col col-90">
                        <p class="givefont">Order ID : 000DP4465</p>
                        <p class="givefont">Sat, May 31, 2015 </p>
                        <p class="givefont">$54 </p>
                    </div>
                    <div class="col">
                        <span class="icon ion-chevron-right spanarrow pndredcolor"></span>
                    </div>
                </div>
            </a>
            
            <a class="noborder item item-thumbnail-left" href="#/app/detail">
                <img src="img/ordersthumbnail.jpg">
                <div class="row">
                    <div class="col col-90">
                        <p class="givefont">Order ID : 000DP4465</p>
                        <p class="givefont">Sat, May 31, 2015 </p>
                        <p class="givefont">$54 </p>
                    </div>
                    <div class="col">
                        <span class="icon ion-chevron-right spanarrow pndredcolor"></span>
                    </div>
                </div>
            </a>
            
            <a class="noborder item item-thumbnail-left" href="#/app/detail">
                <img src="img/ordersthumbnail.jpg">
                <div class="row">
                    <div class="col col-90">
                        <p class="givefont">Order ID : 000DP4465</p>
                        <p class="givefont">Sat, May 31, 2015 </p>
                        <p class="givefont">$54 </p>
                    </div>
                    <div class="col">
                        <span class="icon ion-chevron-right spanarrow pndredcolor"></span>
                    </div>
                </div>
            </a>
            
            <a class="noborder item item-thumbnail-left" href="#/app/detail">
                <img src="img/ordersthumbnail.jpg">
                <div class="row">
                    <div class="col col-90">
                        <p class="givefont">Order ID : 000DP4465</p>
                        <p class="givefont">Sat, May 31, 2015 </p>
                        <p class="givefont">$54 </p>
                    </div>
                    <div class="col">
                        <span class="icon ion-chevron-right spanarrow pndredcolor"></span>
                    </div>
                </div>
            </a>
            
            <a class="noborder item item-thumbnail-left" href="#/app/detail">
                <img src="img/ordersthumbnail.jpg">
                <div class="row">
                    <div class="col col-90">
                        <p class="givefont">Order ID : 000DP4465</p>
                        <p class="givefont">Sat, May 31, 2015 </p>
                        <p class="givefont">$54 </p>
                    </div>
                    <div class="col">
                        <span class="icon ion-chevron-right spanarrow pndredcolor"></span>
                    </div>
                </div>
            </a>




        </div>
    </ion-content>
</ion-view>