<ion-view view-title="Product" align-title="center">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
    <ion-content class="backgrey">
        <div class="list card">

            <div class="item textcenter frontgrey">
                <h2 class="alcoholproductname pndredcolor">Premium Lager Beer</h2>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/beerproduct.jpg">
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left frontgrey">
                <div class="row">
                    <div class="col textcenter veticalcenter">
                        <p>750 ml</p>
                    </div>
                    <div class="col textcenter veticalcenter">
                        <input class="qinput" type="number" placeholder="quantity">
                    </div>
                    <div class="col textcenter veticalcenter">
                        <p class="moneycolor">$5</p>
                    </div>
                </div>
            </div>
            <div class="item item-body productpagemargin">
                <p class="bigtext">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer footerbuttons backshadowup">
        <div class="button-bar">
            <button class="button pndgreen productbutton icon-right ion-android-cart" ng-click="opencartmodal()">Add To Cart</button>
            <button class="button pndred productbutton icon-right ion-bag" ng-click="openbuymodal()">Buy Now</button>
        </div>
    </div>
</ion-view>