<ion-view view-title="PICKNDROP">
   <ion-nav-buttons side="right">
       <button class="button button-icon icon ion-android-cart"></button>
   </ion-nav-buttons>
    <ion-content>
        <div class="categories">
            <a href="#/app/products">
                <div class="categoryimage catimg1">
                    <div class="categoryname">Alcohol</div>
                </div>
            </a>
            <a href="#/app/products">
                <div class="categoryimage catimg2">
                    <div class="categoryname">Food</div>
                </div>
            </a>
            <a href="#/app/products">
                <div class="categoryimage catimg3">
                    <div class="categoryname">Convinience</div>
                </div>
            </a>
           <!-- <a href="#/app/products">
                <div class="categoryimage catimg4">
                    <div class="categoryname">BEVERAGES</div>
                </div>-->
            </a>
        </div>
    </ion-content>
</ion-view>
