<ion-view view-title="Sign Up"  >
  <ion-nav-buttons side="left" ng-controller="menuCtrl">
        
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <button menu-toggle="left" class="button button-icon icon ion-home"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-cart"></button>
    </ion-nav-buttons>
  <ion-content>
      <div class="signupbg">
        <img src="img/splash.png" height= "150%" width="100%">
      
      </div>
     
 <!-- <form ng-submit="doLogin()">
  <div class="list">
    <label class="ion-person signupsize item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="First Name">
    </label>
    <label class="ion-person item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name">
    </label>
    <label class="ion-email item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Email">
    </label>
 <label class="ion-person-add item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="username">
    </label>
 <label class=" ion-key item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="Password" placeholder="Password">
    </label>
 <label class="ion-locked item item-input item-floating-label">
        <span class="input-label">Confirm password</span>
        <input type="Password" placeholder="Confirm password">
    </label>
</div>
</form>
      <div class="signup"><button class=" button button-full button-positive">
  Create Account
</button></div>-->
  
    
  </ion-content>
</ion-view>
