@font-face {
    font-family: quicksand;
    src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: quicksandbold;
    src: url("../fonts/Quicksand-Bold.ttf");
}

.givefont {
    font-family: quicksand;
}

.givefontbolf {
    font-family: quicksandbold;
}

.backgrey {
    background-color: #e1dbdb;
}

.frontgrey {
    background-color: #F2F1F1;
}

.backshadow {
    box-shadow: 2px 2px 3px #545151;
}

.backshadowup {
    box-shadow: 0px -1px 5px #545151;
}

.pndgreen {
    background-color: rgba(51, 201, 40, 1) !important;
    color: white !important;
}

.pndgreen:active {
    background-color: rgba(51, 201, 40, 1) !important;
    color: white !important;
}
.pndgreencolor {
    color: rgba(51, 201, 40, 1) !important;
}

.pndred {
    background-color: rgba(201, 45, 40, 1) !important;
    color: white !important;
}

.pndred:active {
    background-color: rgba(226, 63, 58, 1) !important;
    color: white !important;
}

.pndredcolor {
    color: rgba(201, 45, 40, 1);
}

body {
    font-family: quicksand;
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
    background-color: #e1dbdb;
}

.modalview {
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%, 0) !important;
    top: 12%;
}

.modalinner {
    background-color: white;
}

.topbar {
    background-color: #c92d28 !important;
    color: white !important;
}

.menuuser {
    background-color: #f6f2f3;
    height: 21vh;
}

.menutext {
    margin-top: -16%;
    margin-left: 31%;
}

.menutext2 {
    margin-left: 31%;
    font-size: 80%;
}

.link {
    color: #3c7df5;
}

.menuimage {
    width: 21%;
    margin-top: 9%;
    margin-left: 8%;
    border-radius: 69%;
}

.iconcolor {
    color: #c82d28;
}

a {
    color: inherit;
    text-decoration: none;
}

.categoryimage {
    height: 25vh;
    background-size: 136%;
    /* margin-top: 43px; */
    
    background-position-y: -83px;
    background-position-x: -56px;
    position: relative;
    margin-right: 0px;
    border-style: solid;
    border-width: 1px;
}

.catimg1 {
    background-image: url("../img/beer.jpg");
}

.catimg2 {
    background-image: url("../img/spirit.jpg");
}

.catimg3 {
    background-image: url("../img/wine.jpg");
}

.catimg4 {
    background-image: url("../img/beverages.jpg");
}

.categoryname {
    color: white;
    /* vertical-align: bottom; */
    
    top: 82%;
    left: 10px;
    position: relative;
    font-weight: 500;
    font-size: x-large;
    font-family: quicksandbold;
}

.products {
    background-color: grey;
    height: 100%;
    margin-top: -8px;
}

.product {
    height: 24vh;
    background-color: white;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 1px #3F3F3F;
    border-radius: 4px;
    margin-bottom: 2%;
}

.resultdesc {
    font-size: smaller;
    font-weight: bolder;
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 4px;
    color: black;
}

.productimage {
    height: 80%;
    width: 32%;
    /* padding: 49px; */
    /* top: 35px; */
    
    display: inline-block;
    /* position: relative; */
    /* padding-top: 36px; */
    /* vertical-align: -webkit-baseline-middle; */
    
    background-size: 100%;
    margin-top: 3%;
    background-position-y: 50%;
    background-position-x: 50%;
}

.productimage1 {
    background-image: url("../img/beerproduct.jpg");
    background-repeat: no-repeat;
}

.productinfo {
    background-color: white;
    margin-left: 15px;
    margin-top: 8px;
}

.productdesc {
    font-size: x-small;
    color: grey;
}

.productcost {
    color: green;
}

.productbutton {}

.heart {
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
    height: 72px;
    width: 72px;
    margin-top: 6%;
    /* margin-bottom: 50%; */
    
    margin-left: 5%;
    display: inline-block;
    background-size: 50%;
}

.logintext {
    text-align: center;
    font-weight: bolder;
}

.logintext2 {
    text-align: center;
    color: #3c7df5;
    font-weight: bolder;
}

.forgotpassword {
    text-align: right;
    color: #3c7df5;
}

.loginbutton {
    margin-top: 21%;
    margin-left: 3%;
    width: 95%;
    text-align: center;
}

.loginbuttontext {
    font-size: 83%;
    margin-left: 8%;
}

.loginbuttontext2 {
    font-size: 83%;
    margin-left: 3%;
}

.color {
    color: red;
}

.loginbutton2 {
    margin-left: 3%;
    width: 95%;
    text-align: center;
    margin-top: 2%;
}

.loginbutton3 {
    margin-left: 3%;
    width: 95%;
    margin-top: 2%;
}

.signup {
    margin-top: 22vh;
    position: inherit;
}

.signupsize {
    margin-top: 2%;
}

.infotext {
    font-size: 63%;
    text-align: -webkit-auto;
    color: darkgray;
}

.userimage {
    width: 36%;
    margin-top: 11%;
    margin-left: 32%;
    border-radius: 69%;
    display: block;
    border: 2px solid #c92d28;
}

.accountlist {
    margin-top: 16%;
}
/*ALCOHOL PRODUCT PAGE*/

.footerbuttons {
    margin-bottom: 0px;
    position: fixed;
    height: 55px;
}

.textcenter {
    text-align: center;
}

.alcoholproductname {
    display: inline-block;
    font-family: quicksand;
    font-weight: bold !important;
    font-size: x-large !important;
}

.bigtext {
    font-weight: inherit;
    font-size: small !important;
    font-family: quicksand;
    color: #ADA3A3 !important;
}

.veticalcenter p {
    font-size: larger;
    font-weight: bold;
    transform: translate(0, -20%);
}

.qinput {
    background-color: #F6F5F5;
    text-align: center;
    color: aqua;
    font-size: inherit;
    font-weight: 700;
    font-style: italic;
    color: lightcoral;
}

.moneycolor {
    color: #19fa63 !important;
}

.productbutton {
    font-size: large !important;
    font-weight: 900 !important;
}

.tcenter1 {
    margin-top: 8px !important;
    color: rgb(213, 20, 20);
}

.trackbutton {
    height: 2%;
    top: 28%;
}

.shortlisticons {
    font-size: 38px;
    color: #c92d28;
}

.feedbackbuttons {
    margin-top: 2%;
}

.helptext {
    margin-top: 50%;
    padding: 3%;
}

.orderbuttons {
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.noborder {
    border-bottom: 0;
}

.spanarrow {
    position: absolute;
    top: 43%;
}